<div class="products">
  <mat-spinner *ngIf="products.length === 0"></mat-spinner>

  <mat-card *ngFor="let product of products" class="product">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>${{ product.price }}
        Qty: {{ product.quantity }}</mat-card-subtitle>
    </mat-card-header>
    <img
      alt="{{ product.name }}"
      class="product__image"
      src="{{ product.imageUrl }}">
    <mat-card-content>
      <p>{{ product.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Buy Product</button>
    </mat-card-actions>
  </mat-card>
</div>
<div>
  <button (click)="firstPage()" mat-button>First</button>
  <button (click)="previousPage()" mat-button>Previous</button>
  <button (click)="nextPage()" mat-button>Next</button>
  <button (click)="lastPage()" mat-button>Last</button>
</div>
<mat-paginator
  [length]="100"
  [pageSizeOptions]="[5, 10, 25, 100]"
  [pageSize]="10"
  (page)="onPaginatorChange($event)"
>
</mat-paginator>

